[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit imagenet-classification-with-deep-convolutional-nn.pdf
Type=Link
URL=https://www.nvidia.cn/content/tesla/pdf/machine-learning/imagenet-classification-with-deep-convolutional-nn.pdf
Icon=application-pdf
